/*=================================================================
  About Page
==================================================================*/
#about-header.hero-area.about {
    background-color: var(--tertiary-color);
    height: 120vh!important;
    background-image: none!important;
  }

#about-header .hero-img {
    height: 55vh;
    width: 45vw;
    background: url('../img/about-hero.png') center no-repeat;
    background-size: cover;
    right: 10vw;
    top: 30vh;
}

#about-header .hero-container {
    padding-bottom: 180px;
}
  
#about-header h1 span {
    display: block;
    transition: .2s ease;
    line-height: 100px;
    text-transform: uppercase;
}

#about-header h1 span.words:hover {
    color: var(--accent-color);
}

#about-header h1 span.words:hover span.def {
    display: block;
}


#about-header span.words {
    position: relative;
}

#about-header span.def {
    display: none;
}

#about-header .nav-sticky {
    padding: 20px 4vw;
    background-color: transparent;
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0), 30%, rgba(20, 20, 20, .9)); */
    /* background-image: linear-gradient(to bottom, rgba(20, 20, 20, 1), 40%, rgba(255, 255, 255, 0)); */
    /* mix-blend-mode: multiply; */
}

nav a,
nav li {
    color: rgb(var(--dark-color-main))!important;
    font-weight: 600!important;
}

.nav-sticky .logo {
    transform: translateY(0);
    opacity: 1;
  }
  

#about-header .nav-sticky a:hover {
    color: var(--accent-color);
}

  #about-main #section-desc {
    height: 120vh;
  }
  
  #about-main #section-desc p {
    font-size: 25px;
    line-height: 40px;
    max-width: 800px;
  }
  
  #section-growth {
    padding: 0;
  }
  
  /* #section-growth h3 {
    max-width: 35%;
    color: rgb(var(--dark-color-main));
    padding-left: 5vw;
    letter-spacing: 0;
    font-size: 35px;
    margin-top: -250px;
  } */
  
  #section-growth h2 {
    font-size: 70px;
    font-weight: 600!important;
    color: var(--accent-color);
    bottom: 430px;
    left: -50px;
    transform: rotate(-90deg);
    text-decoration: underline;
    text-underline-offset: 15px;
  }
  
  #section-growth .img-container {
    width: 35%;
    height: 170vh;
    background: url('../img/section-growth.jpg') center no-repeat;
    background-size: cover!important;
  }
  
  #section-growth .section-container {
    width: 65%;
    padding: 25vh 5vw 0 80px;
    margin-top: 0;
    overflow: visible;
  }
  
  #section-growth .img-scribble {
    /* padding-right: 0; */
    max-width: 85%;
  }
  
  #section-growth img.img-top {
    width: 80%;
    margin-bottom: 40px;
    margin-right: 35px;
  }
  
  #section-growth img.scribble {
    width: 100%;
  }
  
  /*=================================================================
    Section-Fascination
  ==================================================================*/
  #section-slides {
    padding: 40vh 15vw 30vh;
  }
  
  #section-slides h2 {
    color: var(--accent-color);
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    padding-top: 0;
    font-weight: 600!important;
  }
  
  #section-slides h3 {
    color: rgb(var(--dark-color-main));
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #section-slides p {
    color: rgb(var(--dark-color-main));
    margin-bottom: 20px;
  }
  
  #section-slides .img-container,
  #section-slides .text-container {
    width: 50%;
  }
  
  #section-slides .img-container {
    height: 100vh;
    background: url('../img/section-fascination.jpg') center no-repeat;
    background-size: cover;
  }
  
  
  #section-slides .img-container img {
    width: 100%;
  }
  
  
  #section-slides .text-container {
    padding-left: 80px;
    max-width: 500px;
    height: 100vh;
  }
  
  #section-slides button {
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 20px;
    width: max-content;
    transition: .15s ease;
  }
  
  #section-slides button:hover {
    background-color: rgb(var(--dark-color-main));
  }
  
  #about-main #section-diaryexp .section-container .text-container {
    margin-top: 600px;
  }
  
  